/* All Colors + Accents */

.bg-light{
    /*background-color: #fafafa;*/
    background-color: white;
}

.bg-dark {
    background-color: #151515;
}

.bg-primary {
    background-color: #2f80ed;
}

.bg-accent {
    background-color: #EB4666;
}
.bg-white {
    background-color: white;
}

/* All Text Styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
.txt {
    font-family: 'Open Sans','Roboto', Helvetica, Arial, sans-serif;
}

.txt-light {
    color: #fffffff5;
}

.txt-dark {
    color: #302f2f;
}

.txt-accent {
  color: #EB4666;
}

.txt-title{
    font-size: 28px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
}

.txt-subhead {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.txt-body {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}

.txt-button-label {
  font-weight: 700;
  letter-spacing: 1%;
  font-size: 14px;
}

/*
    For all the contact files
    Remember that contact goes inside card.
     Do check before inserting.
*/

.contact{
    text-align: center;
}

.contact{
    text-transform: uppercase;
    text-align: center;
}

.contact .name {
    font-size: 24px;
    line-height: 24px;
    color: #ff008a;
    font-weight: 400;
}

.contact .email{
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .number{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

hr{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 300px){

}

@media screen and (min-width: 740px){

}

@media screen and (min-width: 1200px){

}