/* All Colors + Accents */

.bg-light{
    background-color: #ffffff;
}

.bg-dark {
    background-color: #151515;
}

.bg-primary {
    background-color: #2f80ed;
}

.bg-accent {
    background-color: #EB4666;
}

/* All Text Styles */

.txt {
    font-family: 'Open Sans','Roboto', Helvetica, Arial, sans-serif;
}

.txt-light {
    color: #ffffff;
}

.txt-dark {
    color: #302f2f;
}

.txt-accent {
  color: #EB4666;
}

.txt-title{
    font-size: 28px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
}

.txt-subhead {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.txt-body {
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
}

/*
    For all the contact files
    Remember that contact goes inside card.
     Do check before inserting.
*/

.contact{
    text-align: center;
}

.contact{
    text-transform: uppercase;
}

.contact .name {
    font-size: 24px;
    line-height: 24px;
    color: #ff008a;
    font-weight: 400;
}

.contact .email{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-weight: 600;
}

.contact .number{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

@media screen and (min-width: 300px){

}

@media screen and (min-width: 740px){

}

@media screen and (min-width: 1200px){

}