#landing-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  filter: grayscale(20%);
}

#landing-section .brochure-btns {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr;
}

#landing-section .brochure-btns:hover {
  text-decoration: none;
}

#landing-section .brochure-btns div:first-child {
  display: grid;
  justify-content: right;
}
#landing-section .brochure-btns div:last-child {
  display: grid;
  justify-content: left;
}

#landing-section .view-brochure-btn {
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 30px 0 0 30px !important;
  display: grid;
  justify-content: right;
  color: white;
}

#landing-section .brochure-btns .landing-button {
  color: white;
  width: 150px;
}
#landing-section .brochure-btns .landing-button:hover {
  color: black;
}

#landing-section .save-brochure-btn {
  border: 1px solid white;
  border-radius: 0 30px 30px 0 !important;
  color: white;
}

.landing-button {
  height: 50px;
  width: 200px;
  transition: background-color 0.6s;
  margin-top: 18px;
}
.plain:link {
  text-decoration: none;
}
.landing-button:hover {
  background-color: white !important;
  color: black;
  text-decoration: none;
}

#landing-section .textarea p {
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: auto;
}

#landing-section .textarea a {
  display: table;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 400;
  letter-spacing: 0.1em;
}
#landing-section .textarea .landing-button {
  border-radius: 30px;
  padding: 5px 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: transparent;
  border: 1px solid #ffffffd2;
  font-weight: 600;
}

@media screen and (min-width: 300px) {
  #landing-section .textarea p {
    width: 300px;
  }
}

@media screen and (min-width: 740px) {
  #landing-section .textarea p {
    width: 700px;
  }
}

@media screen and (min-width: 768px) {
  #navbar.navbar {
    padding-left: 140px;
  }
}

@media sreen and (min-width: 1200px) {
  #landing-section .textarea p {
    width: 800px;
  }
}
