#navbar {
  padding-top: 0;
  padding-bottom: 0;
  z-index: 10;
  box-shadow:0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

#navbar .container-fluid img {
  height: 44px;
}

@media screen and (min-width: 768px){
  nav #navcol-1 {
    flex-direction: row-reverse;
  }
}