#previous-sponsors-section .logos {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#previous-sponsors-section .txt-title {
  margin-top: 0;
}

#previous-sponsors-section .logos .column {
  width: 250px;
  height: 584px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 300px){
  #previous-sponsors-section {
    padding-top: 25px;
    padding-bottom: 35px;
  }
  
  #previous-sponsors-section .logos {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 740px){
  
}

@media screen and (min-width: 1200px){
  #previous-sponsors-section {
    padding-top: 54px;
    padding-bottom: 54px;
  }
  #previous-sponsors-section .logos {
    width: 1000px;
    flex-direction: row;
  }
}