#why-sponsor-us-section {

}

@media screen and (min-width: 1200px){
  #why-sponsor-us-section .description {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #why-sponsor-us-section .imperative {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
